@charset "utf-8";
html {
    text-rendering: optimizeLegibility !important;
}
body {
    font-family: "noto-sans-cjk-jp","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","Hiragino Kaku Gothic Pro","Hiragino Sans","メイリオ", "Meiryo", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.4px;
    color: #000;
    background: transparent;
    text-rendering: optimizeLegibility;
}
.pc {
    display: block;
}
.sp {
    display: none;
}
.tel {
    pointer-events: none;
}
@media screen and (max-width: 768px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .tel {
        pointer-events: auto;
    }
}
/* ===============================
Text align
=============================== */
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}
@media screen and (max-width: 768px) {
    .txt-left-sp {
        text-align: left;
    }
    .txt-center-sp {
        text-align: center;
    }
    .txt-right-sp {
        text-align: right;
    }
}
/* ===============================
Color
=============================== */
:root {
    /* blue */
    --top-dark-blue: #164763;
    --top-light-blue: #37BEF0;
    --mid-blue: #2C87C9;
    --blue-color: #0052B2;
    /* orange */
    --top-org : #EA5520;
    --center-org: #F78009;
    /* red */
    --red-color : #CC3B4C;
    /* green */
    --green-color : #0D9B28;
    --light-green: #86B966;
    /* black */
    --b-color : #000000;
    /* white */
    --w-color : #FFFCEF;
    /* gray */
    --dark-gray : #B5B5B5;
    --gray-color: #EDEDED;
    /* yellow */
    --yellow-color : #D3B740;

    --boder-blue:#3288C7;
    --boder-green:#0D9B28;
    --boder-red: #CC3B4C;
    --border-gray: #707070;
  }

/* blue */
.top-dark-blue {
    color: #164763;
}
.top-light-blue {
    color: #37BEF0;
}
.mid-blue {
    color: #2C87C9;
}
.blue-color{
    color: #0052B2;
}

/* orange */
.top-org {
    color: #EA5520;
}
.center-org {
    color: #F78009;
}

/* red */
.red-color {
    color: #CC3B4C;
}

/* green */
.green-color {
    color: #0D9B28;
}
.light-green {
    color: #86B966;
}

/* black */
.b-color {
    color: #000000;
}

/* white */
.w-color {
    color: #FFFCEF;
}

/* gray */
.dark-gray {
    color: #B5B5B5;
}
.gray-color{
    color: #EDEDED;
}

/* yellow */
.yellow-color {
    color: #D3B740;
}

/* ===============================
Background Color
=============================== */
.bg-main {
    background: #900;
}
.bg-sub {
    /* background: #000; */
}
.bg-b {
    background: #000;
}
.bg-w {
    background: #fff;
}
.bg-gray {
    background: #f1f1f1;
}
@media screen and (max-width: 768px) {
}


/* ===============================
Section Title
=============================== */
.main-ttl {
    margin-bottom: 40px;
    font-family: "oswald", sans-serif;
    /* font-size: 42px; */
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}
.main-ttl span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    /* font-size: 16px; */
}
/* image border */
.bdr-w {
    border: 7px solid #fff;
    background: #fff;
}
.bdr-g {
    border: 7px solid #f1f1f1;
}
@media screen and (max-width: 768px) {
    .main-ttl {
        margin-bottom: 30px;
        font-size: 35px;
    }
    .main-ttl span {
        font-size: 14px;
    }
    .bdr-w {
        border: 5px solid #fff;
    }
    .bdr-g {
        border: 5px solid #f1f1f1;
    }
}
/* display */
.dis-block {
    display: block;
}
.dis-inline {
    display: inline;
}
.dis-inblock {
    display: inline-block;
}
.disflex {
    display: flex;
}
@media screen and (max-width: 768px) {
    .dis-block-sp {
        display: block;
    }
    .dis-inline-sp {
        display: inline;
    }
    .dis-inblock-sp {
        display: inline-block;
    }
}


/* ===============================
Section container
=============================== */
.wrapper {
    position: relative;
}
.container {
    max-width: 1050px;
    padding: 0 25px;
    margin: 0 auto;
}

/* ===============================
Column Group
=============================== */
.col-gp {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    flex-wrap: wrap;
}
.col-center {
    justify-content: center;
}
.col1 {
    width: 100%;
}
.col2 {
    width: 50%;
}
.col3 {
    width: 33.33%;
}
.col4 {
    width: 25%;
}
.col1,
.col2,
.col3,
.col4 {
    padding: 0 10px;
}
@media screen and (max-width: 768px) {
    .col1-sp {
        width: 100%;
    }
    .col2-sp {
        width: 50%;
    }
    .col3-sp {
        width: 33.33%;
    }
    .col4-sp {
        width: 25%;
    }
}



.btn-section{
    padding: 50px 0;
}
/* ===============================
button
=============================== */
.btn{
    display: inline-block;
}
.btn a{
    text-decoration: none;
}
.btn-border-blue-sm{
    border: 0.5px solid var(--boder-blue);
}
.btn-border-green-sm{
    border: 0.5px solid var(--boder-green);
}
.btn-border-red-sm{
    border: 0.5px solid var(--boder-red);
}

.btn-border-blue-sm a, .btn-border-green-sm a, .btn-border-red-sm a{
    font-size: 11px;
    line-height: 2.1;
    padding: 2px 15px;
}

.btn-curve{
    border-radius: 50px;
}
.btn-border-blue{
    border: 2px solid var(--blue-color);
}
.btn-border-green{
    border: 2px solid var(--green-color);
}
.btn-border-red{
    border: 2px solid var(--red-color);
}
.btn-border-yellow{
    border: 2px solid var(--yellow-color);
}

.btn-border-blue a, .btn-border-green a, .btn-border-red a, .btn-border-yellow a{
    font-size: 16px;
    line-height: 1.5;
    padding: 6px 25px;
}

.btn-long a{
    padding: 1px 50px;
}

.btn-lg a{
    font-size: 25px;
    padding: 6px 60px;
}

.btn-light-green{
    background: var(--light-green);
}
.btn-light-green a{
    text-align: left;
    font-size: 25px;
    line-height: 1.48;
    padding: 10px 40px 6px 40px;
}

.btn-mid-blue{
    background: var(--mid-blue);
}
.btn-dark-gray{
    background: var(--dark-gray);
}
.btn-mid-blue a,.btn-dark-gray a{
    text-align: left;
    font-size: 25px;
    line-height: 1.48;
    padding: 6px 35px 3px;
}

.btn-search-blue{
    background: var(--blue-color);
    position: relative;
}
.btn-search-blue a{
    text-align: left;
    font-size: 25px;
    line-height: 1.48;
    padding: 10px 80px 6px 40px;
}
.btn-search-blue::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(-13%,-50%);
    background: url(../img/common/btn-search.png) center no-repeat;
    width: 30px;
    height: 30px;
}

.btn-border-arrow{
    border: 1px solid var(--border-gray);
    border-left: 15px solid var(--top-dark-blue) ;
    position: relative;
}
.btn-border-arrow a{
    font-size: 20px;
    line-height: 2.25;
    padding: 0px 300px 0px 18px;
}
.btn-border-arrow::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%,-50%);
    background: url(../img/common/btn-arrow.png) center no-repeat;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .btn-border-blue a, .btn-border-green a, .btn-border-red a, .btn-border-yellow a{
    font-size: 13px;
    }
}


/* ===============================
button
=============================== */

/* ============================
Card
=============================*/
.grid-one{
    display: grid;
    grid-template-columns: 1fr;
}
.grid-two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-three{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media screen and (max-width: 768px) {
    .grid-one-sp{
    display: grid;
    grid-template-columns: 1fr;
}
.grid-two-sp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-three-sp{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
}
.gap-16{
    gap: 16px;
}
.row-gap-50{
    row-gap: 50px;
}
.card-inner{
    height: 100%;
}
.card-inner-gray{
    background: var(--gray-color);
}
.card-inner-mblue{
    background: var(--mid-blue);
}
/* .card-title{

} */
.card-img img{
    width: 100%;
}
.card-body{
    display: grid;
}
@media screen and (max-width: 768px) {
    .card-wrap-two .card-img{
        padding: 14.5px 0 14px 13.5px;
    }
    .card-wrap-two .card-body{
        padding: 14px 0;
    }
}
.card-txt{
    font-size: 20px;
    line-height: 2.25;
}
@media screen and (max-width: 768px) {
    .card-txt{
        font-size: 16px;
        padding-left: 10.5px;
        line-height: 1.625;
    }
}
.card-btn{
    text-align: right;
    align-self: end;
}
.card-btn .btn-mrb{
    margin: 0 7px 7px 0;
}
@media screen and (max-width: 768px) {
    .card-btn .btn-mrb{
    margin-bottom: 0;
    }
}
/* ============================
Card End
=============================*/

/* Test Component */
