@charset "utf-8";
/* ===============================
Header
=============================== */
.header{
    padding:25px 0 0px 0;
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255,0.6);
    /* background: rgb(255, 255, 255); */
    /* opacity: 0.7; */
}
.scroll-header{
    background: rgb(255, 255, 255,0.6);
}
.header-block{
    justify-content: space-between;
    align-items: center;
}
.header-left{
    max-width: 350px;
    /* max-width: 365px; */
    /* align-items: center; */
}
.logo{
    /* max-width: 70px; */
}
.logo-txt .fz-12m{
    line-height: 1.64;
    color: #000000;
    font-weight: 300;
}
.logo-txt .fz-30{
    line-height: 1.5;
    letter-spacing: 0.6px;
    font-weight: 600;
}
.logo-txt .fz-16{
    line-height: 1.66;
    letter-spacing: 0.32px;
    font-weight: 600;
    color: #164763;
}
.header-right-top{
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}
.header-right-top .fz-16{
    font-weight: 500;
    /* line-height: 2.56; */
    letter-spacing: 0.8px;
    color:#FFFFFF;
    background: #EA5520;
    text-align: center;
    padding:3px 23px;
    height: 27px;
    /* border: 1px solid #707070; */
}
.header-right-top .fz-16:hover{
    background: #EB7A51;
}
.header-right-top .language-img{
    max-width: 27.24px;
}
.header-right-top .fz-11{
    font-weight: 600;
    /* line-height: 1.68; */
    letter-spacing: 0.132px;
    color:#FFFFFF;
    background: #164763;
    text-align: center;
    padding:5px 0px;
    height: 27px;
    border: 1px solid #194762;
    width: 26px;
}
.header-right-top .fz-19{
    font-weight: 600;
    /* line-height: 1.68; */
    letter-spacing: 0.132px;
    color:#FFFFFF;
    background: #164763;
    text-align: center;
    /* padding:5px 0px; */
    height: 27px;
    border: 1px solid #194762;
    width: 26px;
}
.header-right-bot{
    align-items: center;
    column-gap: 8px;
}
.header-right-bot input{
    border: 1px solid #194762;
    padding:5px;
    width: 310px;
    height: 30px;
}
.header-right-bot .fz-16{
    font-weight: 600;
    /* line-height: 1.78; */
    letter-spacing: 0.8px;
    color:#FFFFFF;
    background: #164763;
    text-align: center;
    padding:3px 12px;
    height: 30px;
    border: 1px solid #194762;
}
.header-right-bot .fz-16:hover{
    background: #2C87C9;
}
.menu-block{
    background: #38BEEF;
    margin-top: 12px;
}
.menu-item{
    width: 16.67%;
}
.menu-item:hover{
    background: #174763;
}
.menu-item a{
    font-size: 16px;   
    font-weight: 500;
    color:#FFFFFF;
    /* line-height: 2.56; */
    padding:7px 5px;
    text-align: center;
}
.menu-research ul{
    flex-wrap: wrap;
}
.menu-research{
    width: 100%;
    position: absolute;
    top: 0;
    
    background: rgb(22, 71, 99,.85);
    padding:30px 0 80px 0;
    /* display: none; */
    /* visibility: hidden;
    opacity: 0; */
    transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
}
/* .menu-research{
    visibility: visible;
    transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
    transform: scale(1);
    opacity: 1;
    display: block;
} */
.d-none {
    display: none;
    
  }
.menu-research li{
    width: 25%;
    position: relative;
}
.menu-research li a{
    font-size: 16px;   
    font-weight: 500;
    color:#FFFFFF;
    /* line-height: 2.56; */
    padding:7px 5px 7px 40px;
    /* text-align: center; */
}
.menu-research li:before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 15px;
    border-color: transparent transparent transparent #fff;
    /* top: 50%;
    transform: translateY(-50%); */
    top: 15px;
}
.nav-open-list{
    position: relative;
}
.menu-research.menu__services--hover li:last-child{
    width: auto;
}
.menu-research li a:hover{
    color:#38BEEF;
}

.menu-research li:hover:before{
    border-color: transparent transparent transparent #38BEEF;
}
@media screen and (max-width: 768px) {
}

/* ===============================
Menu
=============================== */
@media screen and (max-width: 768px) {
}

/* ===============================
Page Top
=============================== */
@media screen and (max-width: 768px) {
}


/* ===============================
Footer
=============================== */
@media screen and (max-width: 768px) {
}